
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> postgres-data ###
/docker/db-data/*

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

